h1, h2{
    color:blue;
}
h1{
    text-align: center;
}
.container{
    text-align: center;
}
/* .navbar-brand{
    color: blue;
} */
.social-links{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    

}

li a:hover {
    background-color: #111111;
    
  }

.list-item-inline{
    padding: 1% 12%;
    margin: auto;
}

